body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
h1, h2 {
    color: #4CAF50; /* Green color for headings */
}
header, footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #e7f3fe;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}
.position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
footer p {
    margin: 0;
}
.button{
    background-color: #4CAF50;
    margin-left: 500px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;

}
.menuLeft{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    width: 200px;
    margin-right: 10px;
}
#menuContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.mini {
    width: 50px;
    height: 50px;
    z-index: 1;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.miniActive {
    width: 200px;
}
.menuIcon {
    position: absolute;
    display: flex;
    background-color:#4CAF50;
    width: 50px;
    transform: translateX(100%);
    opacity: 0;
    top: 0;
    left: 0;
    gap: 10px;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

#histoire {
    width: 30px;
    height: 50px;
}
#credits {
    
    width: 40px;
    
    height: 40px;
}
.menuIconActive{
    transform: translateX(0%);
    width: 200px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}
.menuItem{
    width: 50px;
    height: 50px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuItemImage{
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
}
.menuItemButton{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuItemButtonImage{
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
}
.menuBarreIconContainer{
    background-color:#4CAF50 ;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 2;
}
.menuBarre {
    width: 50px;
    height: 50px;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
    z-index: 2;
}
.menuBarreActive{
    transform: rotate(90deg);
    transition: transform 0.2s ease;
}
